@media only screen and (max-width: 1200px) {
  .sumir {
    display: none;
  }
  .aparecer {
    display: block;
  }
  .banner-interna {
    height: 371px;
  }
  .grid-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  #sobre.contato .content h2 + * {
    margin-top: 0px;
  }
  #sobre.contato .content p + * {
    margin-top: 30px;
  }
  #sobre.contato .content {
    max-width: 418px;
  }
}
